In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('all_teams_dashboard_df_1998_2022.csv')

In [3]:
data

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TO,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,OFF_RATING_RANK,DEF_RATING_RANK,NET_RATING_RANK,AST_PCT_RANK,AST_TO_RANK,AST_RATIO_RANK,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK,TEAM_ID
0,Overall,1998-99,1998-99,50,31,19,0.620,2415.0,96.9,98.4,93.9,95.3,3.0,3.1,0.507,1.05,13.0,0.353,0.701,0.527,0.170,0.436,0.492,88.4,87.10,72.58,4387,0.525,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612737
1,Overall,1998-99,1998-99,50,19,31,0.380,2430.0,97.6,98.7,99.7,100.8,-2.1,-2.1,0.591,1.33,16.3,0.330,0.666,0.493,0.171,0.469,0.501,94.0,93.02,77.51,4711,0.473,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612738
2,Overall,1998-99,1998-99,50,22,28,0.440,2410.0,96.7,98.2,98.5,100.1,-1.9,-1.9,0.700,1.39,17.9,0.295,0.656,0.478,0.178,0.464,0.520,89.1,87.66,73.05,4400,0.493,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612739
3,Overall,1998-99,1998-99,50,13,37,0.260,2414.0,89.8,91.4,100.1,101.7,-10.2,-10.4,0.661,1.31,16.4,0.299,0.684,0.482,0.173,0.424,0.470,90.7,89.19,74.32,4482,0.420,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612741
4,Overall,1998-99,1998-99,50,19,31,0.380,2415.0,99.3,100.2,102.2,103.0,-2.9,-2.7,0.527,1.33,14.7,0.321,0.673,0.495,0.151,0.459,0.502,91.6,90.80,75.66,4570,0.474,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,Overall,2022-23,2022-23,82,37,45,0.451,3961.0,112.7,115.3,113.8,116.0,-1.1,-0.7,0.611,1.69,18.2,0.308,0.711,0.512,0.151,0.547,0.584,103.1,101.02,84.18,8329,0.498,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612762
740,Overall,2022-23,2022-23,82,51,31,0.622,3956.0,112.3,114.7,108.3,110.7,4.0,4.0,0.596,1.91,18.2,0.302,0.711,0.507,0.133,0.540,0.570,103.7,101.50,84.58,8360,0.519,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612763
741,Overall,2022-23,2022-23,82,35,47,0.427,3951.0,111.5,113.7,113.3,114.9,-1.8,-1.2,0.603,1.80,18.5,0.273,0.724,0.505,0.142,0.550,0.585,100.8,99.16,82.63,8161,0.504,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612764
742,Overall,2022-23,2022-23,82,17,65,0.207,3961.0,107.8,109.9,116.1,117.8,-8.2,-7.9,0.581,1.52,16.7,0.292,0.702,0.491,0.150,0.520,0.561,101.6,99.88,83.23,8231,0.449,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612765
743,Overall,2022-23,2022-23,82,27,55,0.329,3966.0,106.7,108.4,112.6,114.7,-5.9,-6.3,0.609,1.77,17.8,0.276,0.717,0.491,0.139,0.516,0.551,103.3,101.47,84.56,8390,0.473,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1610612766

In [4]:
data['GP'].value_counts()

82    623
72     40
66     32
50     29
73      8
65      4
81      2
71      2
67      1
75      1
64      1
74      1
Name: GP, dtype: int64

In [5]:
data[data['GP'] != 82]['SEASON_YEAR'].value_counts()

2011-12    30
2019-20    30
2020-21    30
1998-99    29
2012-13     2
Name: SEASON_YEAR, dtype: int64

In [6]:
data.groupby(['SEASON_YEAR'])['SEASON_YEAR'].agg('count')

SEASON_YEAR
1998-99    29
1999-00    29
2000-01    29
2001-02    29
2002-03    29
2003-04    29
2004-05    30
2005-06    30
2006-07    30
2007-08    30
2008-09    30
2009-10    30
2010-11    30
2011-12    30
2012-13    30
2013-14    30
2014-15    30
2015-16    30
2016-17    30
2017-18    30
2018-19    30
2019-20    30
2020-21    30
2021-22    30
2022-23    30
Name: SEASON_YEAR, dtype: int64

Pace.

Pace Calculation Formula=[240/(Team Minutes)]*(Possessionteam+Possessionopponent)/2

In [7]:
seasonal_pace_means = data.groupby(['SEASON_YEAR'])['PACE'].agg('mean')

In [8]:
seasonal_pace_means

SEASON_YEAR
1998-99     90.490345
1999-00     94.653103
2000-01     92.584138
2001-02     91.957241
2002-03     92.300345
2003-04     91.450000
2004-05     92.274333
2005-06     91.704667
2006-07     92.931000
2007-08     93.485000
2008-09     92.757333
2009-10     93.599000
2010-11     92.898000
2011-12     92.249333
2012-13     92.944000
2013-14     94.799333
2014-15     94.715000
2015-16     96.540667
2016-17     96.962000
2017-18     98.028667
2018-19    100.660333
2019-20    100.794667
2020-21     99.750000
2021-22     98.754333
2022-23     99.791667
Name: PACE, dtype: float64

Possessions.

In [9]:
seasonal_poss_means = data.groupby(['SEASON_YEAR'])['POSS'].agg('mean')

In [10]:
seasonal_poss_means

SEASON_YEAR
1998-99    4558.965517
1999-00    7809.586207
2000-01    7655.517241
2001-02    7592.586207
2002-03    7630.758621
2003-04    7551.862069
2004-05    7625.166667
2005-06    7585.533333
2006-07    7689.300000
2007-08    7713.800000
2008-09    7660.800000
2009-10    7728.233333
2010-11    7677.666667
2011-12    6137.733333
2012-13    7674.100000
2013-14    7836.433333
2014-15    7829.866667
2015-16    7975.866667
2016-17    8004.766667
2017-18    8085.333333
2018-19    8310.833333
2019-20    7169.533333
2020-21    7224.900000
2021-22    8143.800000
2022-23    8244.433333
Name: POSS, dtype: float64

In [11]:
data[data['SEASON_YEAR']=='1998-99']['POSS'].value_counts()

4711    2
4387    1
4411    1
4571    1
4576    1
4480    1
4565    1
4594    1
4517    1
4948    1
4613    1
4601    1
4582    1
4442    1
4521    1
4446    1
4651    1
4453    1
4325    1
4666    1
4599    1
4551    1
4600    1
4611    1
4570    1
4482    1
4400    1
4626    1
Name: POSS, dtype: int64

In [12]:
data['POSS_PER_GAME'] = data['POSS'] / data['GP']

In [13]:
data.isna().sum().sum()

0

In [14]:
seas_poss_per_game_means = data.groupby(['SEASON_YEAR'])['POSS_PER_GAME'].agg('mean')

In [15]:
seas_poss_per_game_means

SEASON_YEAR
1998-99     91.179310
1999-00     95.238856
2000-01     93.359966
2001-02     92.592515
2002-03     93.058032
2003-04     92.095879
2004-05     92.989837
2005-06     92.506504
2006-07     93.771951
2007-08     94.070732
2008-09     93.424390
2009-10     94.246748
2010-11     93.630081
2011-12     92.995960
2012-13     93.662225
2013-14     95.566260
2014-15     95.486179
2015-16     97.266667
2016-17     97.619106
2017-18     98.601626
2018-19    101.351626
2019-20    101.541197
2020-21    100.345833
2021-22     99.314634
2022-23    100.541870
Name: POSS_PER_GAME, dtype: float64

Offensive rating.

In [16]:
seasonal_offrating_means = data.groupby(['SEASON_YEAR'])['OFF_RATING'].agg('mean')

In [17]:
seasonal_offrating_means

SEASON_YEAR
1998-99    100.444828
1999-00    102.337931
2000-01    101.555172
2001-02    103.093103
2002-03    102.162069
2003-04    101.393103
2004-05    104.506667
2005-06    104.856667
2006-07    105.276667
2007-08    106.196667
2008-09    106.983333
2009-10    106.583333
2010-11    106.313333
2011-12    103.496667
2012-13    104.760000
2013-14    105.683333
2014-15    104.740000
2015-16    105.560000
2016-17    108.156667
2017-18    107.840000
2018-19    109.720000
2019-20    109.983333
2020-21    111.713333
2021-22    111.383333
2022-23    114.076667
Name: OFF_RATING, dtype: float64

Defensive rating.

In [18]:
seasonal_defrating_means = data.groupby(['SEASON_YEAR'])['DEF_RATING'].agg('mean')

In [19]:
seasonal_defrating_means

SEASON_YEAR
1998-99    100.403448
1999-00    102.327586
2000-01    101.544828
2001-02    103.110345
2002-03    102.158621
2003-04    101.372414
2004-05    104.510000
2005-06    104.846667
2006-07    105.263333
2007-08    106.190000
2008-09    106.940000
2009-10    106.553333
2010-11    106.276667
2011-12    103.493333
2012-13    104.766667
2013-14    105.690000
2014-15    104.746667
2015-16    105.536667
2016-17    108.143333
2017-18    107.840000
2018-19    109.730000
2019-20    110.153333
2020-21    111.696667
2021-22    111.360000
2022-23    114.070000
Name: DEF_RATING, dtype: float64